@use './vars';

.my-img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
}

@media (max-width: vars.$screen-md) {
  .my-img {
    width: 40%;
    height: 40%;
  }
}

