@use "./vars";

.notif-snacker {
  color: rgb(241, 177, 0);
  background-color: rgb(48, 7, 77);
  bottom: 0;
  position: sticky;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
